/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 29, 2016, 7:28:42 PM
    Author     : Ryan
*/


#footer{
    
    margin-top: 20px;
    width:300px;
    padding-top: 20px;
    padding-left: 240px;
    position:relative;
    top:0px;
    left:920px;
    font-family: "Times New Roman", Georgia, Serif;
    color:whitesmoke;
    box-sizing: inherit;
    display:block;
    font-weight: 300;
    line-height: 50px;
    font-size: 14px;
    overflow:auto;
    
    
}

@media screen and (max-width: 938px)
{
    padding: 0;
}
@media screen and (max-width: 1190px)
{
    min-width: 590px;
}
@media screen and (max-width: 936px){
    width: auto;
    min-width: 520px;
}