/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2016, 2:32:43 PM
    Author     : Ryan
*/

body {
  
    font-size: 14px;
    line-height: 18px;
    overflow-y: scroll;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav li {
    position: relative;
   
}
.global-nav [role=navigation], .nav,li {
    float: left;
}
li {
    text-align: inherit;
}

ol, ul {
    margin: auto;
    list-style: none;
    padding: 0;
    
}



.global-nav {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    height: 46px;
    position: relative;
    width: 100%;
    
}

.global-nav, .global-nav-outer {
    height: 45px;
    width: auto;
    position: relative;
    top: -10px;
    padding: 5px;
   
}



@media screen and (max-width: 938px)
{
    padding: 0;
}
@media screen and (max-width: 1190px)
{
    min-width: 590px;
}
@media screen and (max-width: 936px){
    width: auto;
    min-width: 520px;
}


.global-nav .container {
    max-width: 890px;
    text-align: center;
    width: auto;
   
}



.nav,li,a .text {
    float: left;
    margin-left: 3px;
    margin-top: 5px;
    padding: 0;
   
}

element.style {
    display: inline-block;
   
}
.pull-right {
    float: right;
    text-align: left;
}


.nav .active a {
    color: inherit;
    background-color: transparent;
   
}
.global-nav, .global-nav .well, .nav .active {
    background: lightgrey;
    border-radius: 20px;
   
}

.nav,li,a,button {
    
    color: inherit;
    display: block;
    font-size: 13px;
    font-weight: 500;
    height: 38px;
    line-height: 1;
    padding: 0 12px 0 3px;
    
}


.nav-inner{
    position: relative;
    top:-32px;
   
}


.logoutTab{
    clear:inherit;
    position: relative;
    left: 680px;
    top:-12px;
    float:right;
    height:38px;
    width:90px;
    background: #4CAF50;
    border-style: solid;
    border-radius: 10px;

}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}