/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2016, 2:48:54 PM
    Author     : Ryan
*/


html, div, span,h1, h2, h3, h4, h5, h6, p, em, img,
center,dl, dt, dd, ol, ul, li,fieldset, form, label,
legend,table, tr, th, td,menu,
nav, output {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media screen and (max-width: 938px)
{
    padding: 0;
}
@media screen and (max-width: 1190px)
{
    min-width: 590px;
}
@media screen and (max-width: 936px){
    width: auto;
    min-width: 520px;
}


body {
  margin:auto;
  line-height: 1;
  width:1400px;
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #00611C;
}


ol, ul {
  list-style: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
    
  width: 270px;
  line-height: 43px;
  margin: 50px auto 20px;
  font-size: 19px;
  font-weight: 500;
  color: black;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.register {
  margin: 0 auto;
  width: 230px;
  padding: 20px;
  background: lightgrey;
  border-radius: 7px;
}


.login {
  margin: 0 auto;
  width: 230px;
  padding: 20px;
  background: lightgrey;
  border-radius: 7px;

}


input {
  font-family: inherit;
  font-size: inherit;
  color: lightslategray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.register-input {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: snow;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.register-input:focus {
  border-color: #1e9ce6;
  outline: 0;
}

.register-button {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}

.register-button:focus {
  outline: 0;
}


.register-switch {
  position:relative;
  top:-20px;
  left:-22px;
  height: 32px;
  width:270px;
  margin-bottom: 15px;
  padding: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
  display: none;
}

.register-switch-label {
  float: left;
  width: 50%;
  line-height: 32px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.register-invalid{
    position: relative;
    top:-15px;
  max-width: 180px;
  line-height: 33px;
  margin: 50px auto 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, red, red);
  background-image: -moz-linear-gradient(top, red, red);
  background-image: -o-linear-gradient(top, red, red);
  background-image: linear-gradient(to bottom, red, red);

}

#radioBox{
    text-align: center;
    margin: auto;
    position: relative;
}

.radio-input{
    list-style: none;
}


#forms{
    position: relative;
    right:auto;
    top:100px;
}


#formsUpdate{
    position: relative;
    right:300px;
    top:100px;
}
