
@media screen and (max-width: 938px)
{
    padding: 0;
}
@media screen and (max-width: 1190px)
{
    min-width: 590px;
}
@media screen and (max-width: 936px){
    width: auto;
    min-width: 520px;
}


body {
  margin:auto;
  line-height: 1;
  width:1400px;
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #00611C;
}


#title{
    color:black;
    position: relative;
    top:-12px;
    right:-10px;
    text-decoration: underline;
}


#progressOne{
    position: relative;
    left:10px;
    color:gold;
}

#progressTwo{
    position: relative;
    left:10px;
    color:gold;
}


.meter { 
	height: 15px;  /* Can be anything */
        width: 240px;
	position: relative;
	background: #4d4d4d;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px white;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: gold;
  
  box-shadow:inset 0 2px 9px  white,inset 0 -2px 6px black;
  position: relative;
  overflow: hidden;
}

.meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}


#groupTitle{
    color:gold;
}



#groupName{
    color:white;
    text-align: center;
    width:140px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    position: relative;
    left:1200px;
    top: -150px;
    
}


#teamMembers{
    color:white;
    text-align: center;
    width:140px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    position: relative;
    left:1200px;
    top: -50px;
}



.calendarblock{
    background-color:white;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
}
.userblock{
    background-color:#d8d8d8;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    margin-left:5px;
}
.base2{
    margin:0;
    background-color:#EDEBDF;
    color:#555555;
    border-top:1px solid silver;
    border-left:1px solid silver;
    border-right:1px solid silver
}
#tableheader{
/*     border-style: solid;
    border-width: 5px;
    border-color: yellow;*/
}
#calendarDisplay {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
#daybox{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#membersTitle{
    color:gold;
    text-align: center;
}

#messageBoard{
    position:relative;
    left:0px;
    top:0px;
    border:gold;
    border-style: solid;
    border-radius: 10px;
    background-color:lightgrey;
    width: 500px;

}

.clearfix:before, .clearfix:after, .control-group:before, .control-group:after, .stream-item>div:before, .stream-item>div:after, .module:after, .module:before, .follow-card header:after, .follow-card header:before, .follow-bar:after, .follow-bar:before, messageArea:after, messageArea:before, messageArea:after, .modal-footer:before, .local-trends-breadcrumb:after, .local-trends-breadcrumb:before, .input-prepend .add-on, .input-append .add-on, .wrapper:after, .wrapper:before, .expanded-content:before, .expanded-content:after, .stream-item:before, .stream-item:after {
    content: " ";
    display: table;
}
  .typeMessageBox {
  position: relative;
  bottom:400px;
  left:0px;
  width: 500px;
  display: block;
  margin: auto;
  background-color: transparent;
  padding: 1em 0 !important;
  color: black;
  text-align: left;
  margin-top: 1em;
  font-family:"Lucida Console";
  font-size: 20px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
   }

   
   .message{
       padding:10px;
   }
   
   #output{
       line-break: loose;
       width: 300px;
      color:red;
   }
   
   #deleteButton{
    background-color: #000000;
    color: #FFFFFF;
    float: right;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 50px;
    height: 30px;
   }
   
   .messageArea{
    border: gold;
    border-style: solid;
    border-radius: 10px;
    background: lightgrey;
    position: relative;
    top:0px;
    left:3px;
}

   
   #userInput{
       position: relative;
       left:150px;
       top: 20px;
       clear: inherit;
       color:black;
       font-size: 14px;
       background:white;
   }
   
   .messageButton{
       position: relative;
       text-align: center;
       left:335px;
       top:-12px;
       color:black;
       font-size: 16px;
       background:white;
       border-radius: 10px;
       z-index: 1;
      
   }
   
   #messageBoardTitle{
       position: relative;
       top:0px;
       color: gold;
       text-align: center;
       font-size: 22px;
       font-style: oblique;
   }
   
   #footer{
       position: relative;
       bottom:100px;
   }
   
   
   
     .dayHeader{
       background-color:gray;
        
   }
   .dayHeader td{
       border: 1px solid black;
   }
   .weekRow td{
       background-color:white;
       border: 2px solid black;
       width: 141px;
       cursor: pointer;
   }
   .noteRow{
       border: solid 5px yellow;
   }
   
   .container-popup {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< css popup box*/
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}


.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< events css*/
.event{
    background-color:#06D85F;
    margin-bottom: 5px;
    text-align: center;
}


#projectForms{
    margin:auto;
   position:relative;
   left:500px;
   top:-300px;
    
}

#projectsBoardTitle{
   margin:auto;
   font-size: 32px;
   color:gold;
   text-align: center;
   position:relative;
   left:100px;
   top:-310px;
}

#teamMemberProjects{
    color:white;
    text-align: center;
    width:140px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    position: relative;
    left:1200px;
    top: -230px;
}